/* NAVBAR */
.navbar {
  background: #1b5e20;
  padding: 18px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}

/* LOGO */
.logo {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 22px;
  font-weight: 700;
  color: #ffffff;
}

.nav-logo {
  height: 50px;
  width: auto;
  object-fit: contain;
}
